body {
    background-color: #2693C6;
    border: 40px solid #217CA8;
    height: 650px;
}
header {
    color: white;
    font-size: 24px;
    margin-left: 110px;
    margin-top: 100px;
    margin-bottom: -70px;
}
ul:not(.bye) {
    font-family: Lucida Sans Unicode; 
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    max-width: 1200px;
    height: 350px;
}
li {
    display: inline-block;
    list-style-type: none;
    border: 4px solid white;
}
ul:hover li:not(.bye) {
    opacity:0.5;
}
ul:hover li:hover {
    opacity:1;
}
*{transition: all .1s ease-in;}
img {
    width: 45px;
    height: 30px;
    padding-bottom: -20px;
}
p {
    color: white;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}
span {
    opacity: 0.6;
    padding-bottom: -20px;
}
.lisbon {
    text-align: center;
    background-color: #2693C6;
    color: white;
    width: 47%;
    height: 80px;
}
.paris {
    background-color: #23BDC5;
    color: white;
    width: 25%;
    height: 80px;
}
.belgrade {
    background-color: #976F92;
    color: white;
    width: 25%;
    height: 80px;
}
.moscow {
    background-color: #C75443;
    color: white;
    width: 23%;
    height: 80px;
}
.tel-aviv {
    background-color: #E67249;
    color: white;
    width: 23%;
    height: 80px;
}
.cair {
    background-color: #FFCB62;
    color: white;
    width: 25%;
    height: 80px;
}
.new-york {
    background-color: #92C398;
    color: white;
    width: 25%;
    height: 80px;
}
.new-delhi {
    background-color: #5D9492;
    color: white;
    width: 23%;
    height: 80px;
}
.san-francisco {
    background-color: #CE7292;
    color: white;
    width: 49%;
    height: 80px;
}
.tokyo {
    background-color: #278D62;
    color: white;
    width: 25%;
    height: 80px;
}
.sydney {
    background-color: #626993;
    color: white;
    width: 99%;
    height: 80px;
}
footer {
    font-family: Lucida Sans Unicode; 
    border: 0;
    color: white;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 110px;
}